{% extends ('base.html.twig') %}

{% block body %}

    <body class="text-red-900">
    <div>
        <div>
            <h1>Structural</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">
                        <span> Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Knowledge
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Login</span>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Signup</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>

    </body>
{% endblock %}